@{
    ViewData["Title"] = "Home";
}

<div class="row justify-content-center">
    <div class="col-md-8 text-center mt-5">
        <h1 class="display-4 mb-4">Task Organizer</h1>

        <p class="lead">
            This application helps you organize and prioritize your tasks
            using the principles from <em>The 7 Habits of Highly Effective People</em>.
        </p>

    </div>
</div>